<link href='/styles/form.css' rel='stylesheet' type='text/css'>

<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="Enter address">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div>