<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sprig</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/animate.css">
  <link rel="stylesheet" href="/styles/home.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <% include partials/_header.ejs %>
  <div id='main-page'>
    <div class='img-left'>
      <img class='main-img animated bounceInLeft slow' src='../assets/img/burger.png' />
    </div>
    <div id="main-info">
      <h1>Find restaurants you love</h1>
      <% include partials/_form.ejs %>
    </div>
    <div class='img-right'>
      <img class='main-img animated bounceInRight slow' id='right' src='../assets/img/nacho.png' />
    </div>
  </div>
  <div class='main-info'>
    <h1>Your food. Your choice.</h1>
    <div class='main-info-section'>
      <div class='main-info-1'>
        <h2>Skip the wait</h2>
        <img class='skip' src="../assets/img/cut-in-line.gif">
      </div>
      <div class='main-info-2'>
        <h2>Hundreds of restaurants</h2>
        <img class='skip' src="../assets/img/dog-pizza.gif">
      </div>
      <div class='main-info-3'>
        <h2>Earn rewards</h2>
        <img class='skip' src="../assets/img/treat-yourself.gif">
      </div>
    </div>
  </div>
  <div class='in-depth-info'>
    <div class='in-depth-1'>
      <div class='in-depth-desc'>
    </div>
    <div class='in-depth-2'>
      <div class='in-depth-desc'>

      </div>
      <div class='in-depth-desc'>

      </div>
    </div>
  </div>
</body>

</html>