<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restaurant</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/restaurant.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <% include partials/_header.ejs %>
  <main>
    <h1>Order History</h3>
    <div>
      <% if (restaurantObj) { %>
        <% const keys = Object.keys(restaurantObj); %>
        <% for (let key of keys) { %>
          <h2>Order #<%= key %></h1>
          <% const itemKeys = Object.keys(restaurantObj[key]); %>
          <% for (itemKey of itemKeys) { %>
            <p><%= itemKey %> : <%= restaurantObj[key][itemKey].quantity %></p>
          <% } %>
        <% } %>
      <% } else { %>

      <% } %>
    </div>
  </main>
</body>

</html>